p{
    color:maroon; 
    font-size: 25px;
}


 h1{
     color:000000;
     font-family:'Courgette', cursive;
     }
     
 #navbar{
    
         font-family:'Ranchers', cursive;
         font-weight: bold;
         font-size:30px;
         
     }

*{
    margin:0;
    padding:0;
    background-color:#8a9e8d;
}


.buttons{

    font-family: 'Henny Penny', cursive;
    color:#b42785;
    font-size:28px;
    border:4px solid rgb(65,65,65);
    background-color: rgb(49, 212, 172);
    cursor:pointer;
    
}

